<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
</head>
<body>
    <div style="position: relative;">
        <img src="{{back}}" alt="back" style="position: revative; z-index: 1;">
        <img src="https://pngicon.ru/file/uploads/znak-vnimanie-256x256.png" alt="vnimanie" style="width: 100%; z-index: 3; position: absolute;">
        <img src="https://pngicon.ru/file/uploads/angelskie-krylja-256x256.png" alt="krylja" style="position: absolute; top: 0; left: 0; width: 100%; z-index: 2; position: absolute;">
      </div>
</body>