<!-- {% extends "skeleton.html" %}
{% block content %}
<form action="" method="post" novalidate>
  <div class="container">
        {{ form.hidden_tag() }}
        <p>
          {% for i in range() %}
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </div>
  </form>
{% endblock %} -->
